################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRunner/bin/Debug/mavenRun.bat
/TestRunner/bin/Debug
/TestRunner/obj/Debug
