################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRunner/bin/Debug/mavenRun.bat
/TestRunner/bin/Debug
/TestRunner/obj/Debug
.vs
obj
bin
/.vs/TestRunner/DesignTimeBuild/.dtbcache
/.vs/TestRunner/v15/.suo
/.vs/TestRunner/v15/Server/sqlite3/db.lock
/.vs/TestRunner/v15/Server/sqlite3/storage.ide
/.vs/TestRunner/v15/Server/sqlite3/storage.ide-shm
/.vs/TestRunner/v15/Server/sqlite3/storage.ide-wal
